* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--gray-500);
  background: var(--gray-200);
}

:root {
  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;

  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  --title-lg: 800 3.5rem/120% 'Asap', sans-serif;
  --title-md: 800 1.5rem/120% 'Asap', sans-serif;
  --title-sm: 800 1rem/120% 'Asap', sans-serif;

  --subtitle: 300 1.25rem/120% 'Inconsolata', sans-serif;

  --text-md: 300 1rem/140% 'Maven Pro', sans-serif;
  --text-sm: 300 0.875rem/140% 'Maven Pro', sans-serif;
}

h1 {
  font: var(--title-md);
  color: var(--gray-600);
}

.container {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

section {
  width: 85.375rem;
}

.title {
  text-align: center;
  margin-bottom: 3.5rem;

  p {
    color: var(--red);
    font: var(--subtitle);
  }

  h1 {
    font: var(--title-md);
  }
}
